.buttonn{
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-text-fill: black;
}
.weekend_red{
    -fx-border-color: red;
    -fx-background-color: black;
    -fx-text-fill: red;
}
.active{
 -fx-border-color: blue;
}