

.tab-pane
{
    -fx-tab-min-width:90px;
}
.tab-header-background {
    -fx-background-color: #282b30;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #777777;
}

.tab-pane .tab:selected
{
    -fx-background-color:  #424549;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #cdcdcd;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #49d9ad;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background: #464646;
}


.root{
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-base: rgb(0, 0, 0);
}

.button{
-fx-background-color: #49d9ad;
 -fx-text-fill: #777777;
}
.choice-box {
  -fx-background-color: #282b30;
}
.color-picker {
   -fx-background-color: #49d9ad;
}